<div class="container highlights-news">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="base_heading">{{title}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div id="card-carousel" class="card-carousel">
				{% for highlight in highlights %}
				<div class="card horizontal mx-1 card-link card-new-item">
					<div class="text-published">{{highlight.pretty_published_at}}</div>
					{% if highlight.href %}
					<a href="{{highlight.href}}">
						{% endif %}
						{% if highlight.cover %}
						<img class="card-img-top" src="{{ highlight.cover|crop_image|resize(250, 250, {'mode': 'crop'}) }}">
						{% endif %}
						{% if highlight.content or highlight.title %}
						<div class="card-body">
							{% if highlight.title %}
							<h3 class="card-title">{{ highlight.title|length > title_max_length ? highlight.title|striptags|slice(0, title_max_length)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : highlight.title|striptags|replace({"&nbsp;": " ", ".": ". "})  }}</h3>
							{% endif %}
						</div>
						{% endif %}

						{% if highlight.href %}
					</a>
					{%endif %}
				</div>

				{% endfor %}
			</div>
		</div>
	</div>
</div>
