<div class="col-xs-12 col-md-6 news-item item-{{slug}}">
	<div class="row news_column">
		{% if image %}
		<a class="news-image col-xs-12 center-xs" href="{{url}}">
			<img class="news-img-top" src="{{image.getThumb(width, height, {'mode': 'crop'})}}">
		</a>
		{% endif %}
		<div class="news-container col-xs-12">
			<div class="news-title">
				<h3 class="card-title"><a href="{{url}}">{{title}}</a></h3>
			</div>
			<div class="text-published">{{published_at}}</div>
			<div class="body">{{content|raw}}</div>
		</div>
	</div>

</div>
