<div class="news-item item-{{slug}}">
	{% if image %}
	<a class="news-image" href="{{url}}">
		<img class="news-img-left" src="{{image.getThumb(280, 181, {'mode': 'crop'})}}">
	</a>
	{% endif %}
	<div class="news-container">
		<div class="news-title">
			<h3 class="card-title"><a href="{{url}}">{{title}}</a></h3>
			{% if allow_share == 'yes' %}
			<div class="share-btn" aria-describedby="social-tooltip">
				<span id="share-{{slug}}" class="pr big p-share1"></span>
			</div>
			{% endif %}
		</div>
		<div class="text-published">{{published_at}}</div>
		<div class="body">{{content|raw}}</div>
	</div>
	<script>
		createTippy('#share-{{slug}}', { content: '<div class="icons">{% if this.theme.facebook %}<a class="fb-xfbml-parse-ignore pr p-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url}}&amp;src=sdkpreparse" target="_blank" ></a>{% endif %}{% if this.theme.twitter %}<a class="pr p-twitter" href="https://twitter.com/intent/tweet?text={{title_encoded}}{{url}}" target="_blank"></a>{% endif %}{% if this.theme.linkedin %}<a class="fb-xfbml-parse-ignore pr p-linkedin" href="https://www.linkedin.com/sharing/share-offsite/?url={{url}}" target="_blank" ></a>{% endif %}</div>'})
	</script>
</div>
